div.contactItem {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
div.contactItem > * {
	width: 30%;
	justify-content: flex-start;
	display: flex;
}
.action {
	justify-content: flex-end !important;
}
.errorMessage {
  position: absolute;
  justify-content: flex-end !important;
  right: 30px;
  top: 0;
}
.status {
  height: 48px;
  display: flex;
  align-items: center;
}